<?xml version="1.0" ?>

<!-- THIS FILE RECORDS AND SAVES BAG FILES OF SPECIFIC TOPICS TO SPECIFIED LOCATION -->

<launch>
    
    <!-- LAUNCH ARGUMENTS -->
    <!-- <arg name="topics" default="/x_ref_error /right_hand/velocity_controller/command/ /panda_arm/cartesian_velocity_controller/command/ /x_ref_object_debug"/> -->
    <arg name="topics" default=" /panda_arm/franka_state_controller/franka_states /rob_comm_sigma_debug /rob_comm_twist_debug
    /x_d_reference /f_d_d_reference /touching_finger_topic /object_pose /object_twist "/>
    <arg name="path" default="/home/george/Desktop/Adaptive_Bags/"/>

    <!-- START LAUNCH -->

    <!-- Bag record -->
    <node pkg="rosbag" type="record" args="-o $(arg path) $(arg topics)" name="record" output="screen"/>
    

</launch>

